.info{
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;

    .icon{
        color: $gray-color;

        > i{
            font-size: 3.85rem;
        }
    }
    .icon-kyc-upload {
        background-color: rgba(66, 71, 77, 0.1);
        border-radius: 5%;
        border-color: dimgrey;
        border-width: 1px;
        border-style: solid;

        > i{
            font-size: 7rem;
            padding-top: 5px;
        }
    }
    .info-title{
        color: $black-color;
        margin: 0.875rem * 2 0 0.875rem;
    }
    p{
        color: $gray-color;
    }
    .section {
        padding: 0;
    }
}

.info-horizontal{
    .icon{
        float: left;
        margin-top: 24px;
        margin-right: 10px;

        >i{
            font-size: $font-size-h2;
        }
    }
    .description{
        overflow: hidden;
    }

}

.icon {
    &.icon-primary {
        color: $brand-primary;
    }
    &.icon-info {
        color: $brand-info;
    }
    &.icon-success {
        color: $brand-success;
    }
    &.icon-warning {
        color: $brand-warning;
    }
    &.icon-danger {
        color: $brand-danger;
    }
    &.icon-rose {
        color: $brand-rose;
    }
}
